<ion-card *ngIf="(service.isLogged)">
  <ion-card-header>
    <!--<ion-card-title>Inicie sesión desde aquí...</ion-card-title>
  -->
  </ion-card-header>

  <ion-card-content class="ion-align-items-center">
    <form (ngSubmit)="saveDataFormSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item class="ion-padding">
              <ion-label position="stacked">Email</ion-label>
              <ion-input type="email" required [(ngModel)]="service.usuarioToLogIn.email" name="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="ion-padding">
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input type="text" required [(ngModel)]="service.usuarioToLogIn.nombre" name="nombre"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="ion-padding">
              <ion-label position="stacked">Apellidos</ion-label>
              <ion-input type="text" required [(ngModel)]="service.usuarioToLogIn.apellidos"
                         name="apellidos"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="ion-padding">
              <ion-label position="stacked">
                Registrado {{formatDate(service.usuarioToLogIn.timeStampCreacion)}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="ion-padding">
              <ion-label position="stacked">Cambiar contraseña</ion-label>
              <ion-checkbox color="primary" [(ngModel)]="cambiarPass" name="cambiarPass"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="(cambiarPass)">
          <ion-col>
            <ion-item class="ion-padding">
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input type="password" required
                         [(ngModel)]="service.usuarioToLogIn.password" name="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="(cambiarPass)">
          <ion-col>
            <ion-item class="ion-padding">
              <ion-label position="stacked">Confirmar contraseña</ion-label>
              <ion-input type="password" required
                         [(ngModel)]="service.usuarioToLogIn.passwordConfirmation"
                         name="passwordConfirmation"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-button color="primary" type="submit">Guardar</ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>
