<ion-card *ngIf="!service.isLogged">
  <ion-card-header>
    <!--<ion-card-title>Inicie sesión desde aquí...</ion-card-title>
  -->
  </ion-card-header>

  <ion-card-content class="ion-align-items-center">
    <form [formGroup]="registerformGroup" (ngSubmit)="saveDataFormSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item class="ion-padding">
              <ion-label position="stacked">Email</ion-label>
              <ion-input type="email" formControlName="email" required [(ngModel)]="usuarioCreatedToLogIn.email" name="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="ion-padding">
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input type="text" formControlName="nombre"  required [(ngModel)]="usuarioCreatedToLogIn.nombre" name="nombre"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="ion-padding">
              <ion-label position="stacked">Apellidos</ion-label>
              <ion-input type="text" required [(ngModel)]="usuarioCreatedToLogIn.apellidos"
                         name="apellidos" formControlName="apellidos" ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="ion-padding">
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input type="password" formControlName="password"  required
                         [(ngModel)]="usuarioCreatedToLogIn.password" name="password"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item class="ion-padding">
              <ion-label position="stacked">Confirmar contraseña</ion-label>
              <ion-input type="password" formControlName="passwordConfirmation"  required
                         [(ngModel)]="usuarioCreatedToLogIn.passwordConfirmation"
                         name="passwordConfirmation"></ion-input>
            </ion-item>
            <ion-item class="ion-padding" *ngIf="registerformGroup.hasError('passNotEquals')">
              <ion-label position="stacked">
                <i style="color: indianred;">Las contraseñas no coinciden.</i>
              </ion-label>
            </ion-item>
            <ion-label position="stacked">
              {{msgPassRequirements}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <ion-button [disabled]="!registerformGroup.valid" color="primary" type="submit">Registrarse</ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card-content>
</ion-card>
