<ion-toolbar>
  <ion-searchbar placeholder="Localidad (al menos 3 caractéres)..." type="text" debounce="500" showCancelButton="focus"
                 (ionInput)="showTownItems($event)" color="primary" [value]="townSelectedName"></ion-searchbar>

  <ion-list style="border-color: #5d58e0; color: azure;" *ngIf="isItemAvailable">
    <ion-item *ngFor="let item of items" button (click)="selectionOfItemTown(item)" detail
              detailIcon="location-outline">
      <ion-label>{{ item.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-toolbar>
<div>
  <ion-list *ngIf="itinerarios.length > 0">
    <ion-item *ngFor="let itiner of itinerarios; let i = index">
      <ion-card button style="margin-left: 24%;" (click)="presentItinerarioModal(i);"
                [style]="i%2 == 0 ? 'border: 1.9px solid dodgerblue; color:lightslategrey;': 'border: 0.1px solid dodgerblue; color:lightslategrey;'">
        <ion-card-header color="lightslategrey">
          <ion-card-title>
            <ion-icon *ngIf="i%2 == 0" name="map-outline"></ion-icon>
            <ion-icon *ngIf="i%2 !== 0"
                      name="map"></ion-icon>&nbsp;{{ itiner.nombre.substring(0, 1).toUpperCase() + itiner.nombre.substring(1)}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon *ngIf="i%2 == 0" name="location-outline"></ion-icon>
          <ion-icon *ngIf="i%2 !== 0" name="location"></ion-icon>
          &nbsp;{{ itiner.ubicacionNombre.substring(0, 1).toUpperCase() + itiner.ubicacionNombre.substring(1) }}
          <br>
          {{ itiner.precioTotal}}&nbsp;&#8364;
          <br>
          Generado {{formatDate(itiner.timeStampCreacion)}}

        </ion-card-content>
      </ion-card>

    </ion-item>
  </ion-list>
  <br>
  <ion-label *ngIf="(townSelectedName && townSelectedName.length > 3) && itinerarios.length < 1 " ><i style="margin-left: 26%;">
    <ion-icon name="sad-outline" color="dodgerblue"></ion-icon>
  </i>&nbsp;No hay itinerarios
  </ion-label>
  <ion-label *ngIf="(!townSelectedName || townSelectedName.length < 3) && itinerarios.length < 1 "><i  style="margin-left: 24%;">
    <ion-icon name="list-outline" color="dodgerblue"></ion-icon>
  </i>&nbsp;Es necesario filtrar por población.
  </ion-label>
</div>
