<ion-toolbar>
  <ion-searchbar placeholder="Localidad (al menos 3 caractéres)..." type="text" debounce="500" showCancelButton="focus"
                 (ionInput)="showTownItems($event)" color="primary" [value]="townSelectedName"></ion-searchbar>

  <ion-list style="border-color: #5d58e0; color: azure;" *ngIf="isItemAvailable">
    <ion-item *ngFor="let item of items" button (click)="selectionOfItemTown(item)" detail
              detailIcon="location-outline">
      <ion-label>{{ item.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-toolbar>
<div>
  <ion-content>
    <ion-virtual-scroll [items]="itinerarios" approxItemHeight="210px">
      <ion-card *virtualItem="let itiner; let itemBounds = bounds;">
        <div>
          <ion-img [src]="imgSrc" [alt]="itiner.id"></ion-img>
        </div>
        <ion-card-header>
          <ion-card-title>{{ itiner.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ itiner.ubicacionNombre }},l:{{ itiner.ubicacionLat }},L:{{ itiner.ubicacionLon }}</ion-card-content>
      </ion-card>
    </ion-virtual-scroll>
  </ion-content>
</div>

